$receipt-min-height: 310px;
$padding: 10px 0;

@mixin prefix($scope, $vendors: webkit moz ms o) {
    @each $prop, $value in $scope {
        @if $vendors {
            @each $vendor in $vendors {
                #{"-" + $vendor + "-" + $prop}: #{$value};
            }
        }
        // Dump regular property anyway
        #{$prop}: #{$value};
    }
}

.oc-receipt {
    @include prefix ((filter: brightness(99%) drop-shadow(0 0 2px #BBB)));
    min-height: $receipt-min-height;
    width: 260px;
    background-image: url(../imgs/receipt.png);
    display: inline-block;
    background-size: cover;
    font-family: "Courier New", Courier, monospace;
    padding: 10px;
    margin: 10px 0 0;

    @media (min-width: 400px) {
        width: 293px;
    }

    .oc-logo-receipt {
        margin: 10px 0 15px;

        img {
            max-height: 30px;
        }

        div {
            margin: 10px 0 0;
        }
    }

    .oc-goods-wrapper {
        min-height: $receipt-min-height - 150;
        padding: $padding;
        border-top: 1px dashed #000;
        border-bottom: 1px dashed #000;

        .oc-goods-list {
            line-height: 1;

            &:not(:last-of-type) {
                margin: 0 0 20px;
            }

            > div {
                margin: 0 -8px 0 -1px;
                display: inline-block;

                &:nth-of-type(1) {
                    width: 10%;
                    vertical-align: top;
                }
                &:nth-of-type(2) {
                    width: 58%;
                    vertical-align: top;
                }
                &:nth-of-type(3) {
                    width: 32%;
                    vertical-align: bottom;
                }
            }
        }
    }

    .oc-total {
        padding: $padding;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
}